@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Sour Gummy", sans-serif;
}

body {
  background-color: #f4dc72;
}

.contenedor_header {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  background-color: #b79522;
}

.contenedor_header > h1 {
  margin: 0;
  font-size: 4em;
}

.contenedor_inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 10vh;
}

.contenedor_inputs > input {
  margin-left: 5px;
  margin-right: 15px;
  border: none;
  box-shadow: inset 4px 4px 4px #b9a85f, inset -4px -4px 4px #f5e396;
  border-radius: 1em;
  background-color: #f4dc72;
  padding: 0.5em;
}

.contenedor_inputs > input:focus {
  outline: none;
}

.contenedor_inputs > p {
  font-size: 1.2em;
  margin: 0;
  margin-left: 1em;
}

.contenedor_inputs > button {
  box-shadow: 4px 4px 4px #b9a85f, -4px -4px 4px #f5e396;
  background-color: #b79522;
  color: white;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 2em;
}

.contenedor_listas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.contenedor_lista {
  flex: 1;
  height: 90%;
  margin-left: 5em;
  margin-right: 5em;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(#b79522 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: #f4dc72;
  color: black;
  box-shadow: #ab9c58 3.2px 3.2px 8px 0px inset,
    #fff4c5 -3.2px -3.2px 8px 0px inset;
  border-radius: 2em;
}

.contenedor_lista > h1 {
  width: 100%;
  text-align: center;
}

.tarea_card {
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tarea_card_info {
  display: flex;
  flex-direction: column;
}
.tarea_card_info > p {
  margin: 0;
  margin: 5px 15px 5px 15px;
}
